<style>


body {
	background: linear-gradient(318deg, #212121, #49FB35, #77ABB7, #212121);
	background-size: 1000% 1000%;
	animation: gradient 20s ease infinite;
}



</style>

<div class="page-title">
	<h1>Welcome to SpotVote</h1>
</div>


<div class="page-title">
	<h4>Discover new music.</h4><br>
</div>

<div class="page-title">
	<h4>Vote for your favorite albums.</h4><br>
</div>

<div class="page-title">
	<h4>Share with friends.</h4><br>
</div>

<% if false %>
<p>Find me in app/views/home/index.html.erb</p>
<%= link_to 'Sign in with Spotify', '/auth/spotify' %>
<% end %>
