/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Michroma', sans-serif;
  color: #77ABB7;
}

body {
  background-color: #212121;
}

.spacer {

  margin-bottom: 40px;
  
}


.alert {
  display: flex;
  padding: 8px 0;
  justify-content: center;

}

nav {
  background-color: #000000;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: fixed;
  top: 0;
  z-index: 7;
  padding: 0;

}

nav li {
  
}

nav li a {
  display: block;
  padding: 8px;
  transition: .3s;
}

nav li a:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(73,251,53,1);
  border-radius: 5px;
  color: rgba(73,251,53,1);
  transform: scale(1.01, 1.01);
}

.nav-search {
  align-items: center;
}


.nav-links {
  align-items: center;
  display: none;
  background-color: #212121;
  z-index: 8;
  transform: translateY(-200%);
  transition: transform 1s ease-in;
  
}

.hide-mobile {

}

.nav-links li {
  padding: 5px;
}

.nav-active {
  
  transform: translateY(0%);
  display: block;
}

.logo {
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 5px;
  padding: 8px;
}


form.user {

}

input {
  width: 40%;
  background-color: #303030;
  border-radius: 5px;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 3px;
}

button, .btn {
  background-color: #77ABB7;
  border: none;
  padding: 3px;
  color: #303030;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: 0.3s;
}

button:hover, .btn:hover {
  box-shadow: 0 4px 8px 0 rgba(73,251,53,1), 0 6px 20px 0 rgba(73,251,53,1);
  color: rgba(73,251,53,1);
  transform: scale(1.1, 1.1);
}

.burger {
  display: block;
  background-color: #000000;
  cursor: pointer; 
  z-index: 8;
  padding: 8px;
}
.burger div {

  width: 25px;
  height: 2px;
  background-color: #77ABB7;
  margin: 6px;
  border-radius: 5px;
  
}

.mobile-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 20px;
}
nav a {
  text-decoration: none;
}



strong {
  text-shadow: 0 0.125rem 0.25rem rgba(73,251,53,1);
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  font-size: 12px;
}

.album-card p {
  text-shadow: 0 0.125rem 0.25rem rgba(0,0,0,0.4);
}

nav {
  width: 100%;
}

img {
  width: 100%;
  opacity: .75;
  transition: opacity .5s ease-in-out;
}



.container {
  padding: 5px;
 
}

.scroll {
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
  width: 40%;
  background-color: #303030;
  margin: 10px;
  padding: 3px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
}

.album-show-container {
  display: flex;

  left: 0;
}

.page-title {
    display: flex;
    justify-content: center;
    flex-direction: vertically;
    text-align: center;
    width: 100%;
    background-color: #000000;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
h1 {
  /*text-align: center;*/
  
  
  /*margin: 5px 0;*/
  /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
  text-shadow: 0 0.125rem 0.25rem rgba(73,251,53,1);
  padding-bottom: 2px;
}

.album-card {

  text-align: center;
  width: 40%;
  background-color: #303030;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 10px;
  position: relative;
  height: 60vw;
  transition: .3s;

}

.album-card:hover {
  box-shadow: 0 4px 8px 0 rgba(73,251,53,1), 0 6px 20px 0 rgba(73,251,53,1);
  transform: scale(1.1, 1.1);
  color: rgba(73,251,53,1);
  z-index: 20;
}

.album-image {
  position: relative;
}

.album-card-info {
  position: absolute;
  top: 20%;
  width: 100%;
  background-color: rgba(66, 66, 66, 0.8);
  border-radius: 20%;
}
.album-card-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-bottom: 10px;
}

.album-card-footer p {
  margin-bottom: 5px;
}
.album-card-footer a {
  background-color: #212121;
  padding: 3px;
  text-decoration: none;
  display: block;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: .3s;
}

.album-card-footer a:hover {
  background-color: #424242;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(73,251,53,1);
  transform: scale(1.1, 1.1);
  color: rgba(73,251,53,1);
}

.album-card p {
  font-size: 10px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
}



.albums-container {
  justify-content: space-evenly;
  display: flex;
  flex-wrap: wrap;
}



/*
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body { 	

	margin: 0;
	font-family: 'Michroma', sans-serif;
}
ul {
    
    
}





nav {
  display: flex;
  * spreads items out evenly 
  justify-content: space-around;
  * center items vertically 
  align-items: center;
  min-height: 8vh;
  background-color: blue;
  text-transform: uppercase;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.logo {
  color: white;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 12px;

}



.nav-links {
  * puts these items on same line 
  display: flex;
  * spreads these items out 
  justify-content: space-around;
  * use width to define total spacing 
  width: 35%;
}

.nav-links li {
  list-style-type: none;
}

.nav-links a {
  color: white;
  letter-spacing: 3px;
  font-size: 8px;
  text-decoration: none;
  font-weight: bold;
}

.burger {
  display: none;
}

.burger div {

  width: 25px;
  height: 2px;
  background-color: white;
  margin: 5px;

}


p {
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
}

.container {
    
    text-align: center;
    padding: .8em 1.2em;
}

.polaroid-container {
    text-align: center;
    padding: .8em 1.2em;
    height: 300px;
    position: relative;
}



.albums-container {

  text-align: center;
  padding: .8em 1.2em;
  justify-content: space-between;

}



img {
	height: 200px;
	width: 200px;
}


.polaroid {
  float: left;
	border-radius: 5px;
	width: 200px;
	background-color: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin: 10px;

}

textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}

input[type=submit] {
  background-color: #4CAF50;
  border-radius: 5px;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

input[type=file] {

}

label.photo {
   cursor: pointer;
   * Style as you please, it will become the visible UI component. 
   background-color: #4CAF50;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   border-radius: 5px;
   color: white;
   padding: 16px 32px;
}

#fit_photo {
   opacity: 0;
   position: absolute;
   z-index: -1;
}

input[type=submit]:hover {
	background-color: white;
	color: black;
}

.vote-row {
  display: inline-block
	justify-content: space-between;
}


*/

/* If the browser window is 600px or smaller, the background color will be lightblue:
@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}
*/

/* Instead of changing styles when the width gets smaller than 768px, 
   we should change the design when the width gets larger than 768px. 
   This will make our design Mobile First:

[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 768px) {
   For desktop: 
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}

212121
323232
0d7377
14ffec


000000
212121
303030
424242
*/


@media only screen and (min-width: 1150px) {

  .album-card-info p {
    font-size: 15px;
  }

  .album-card-footer p {
    font-size: 20px;
  }

  strong {
    font-size: 20px;
  }

  .album-card {

    text-align: center;
    width: 20%;
    background-color: #303030;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 10px;
    position: relative;
    height: 26vw;

  }
}

@media only screen and (min-width: 750px) {

  .page-title {
    margin: auto;
    width: 50%;
    padding: 30px;
    margin-bottom: 10px;
    
  }

  h1 {
    font-size: 40px;
  }

  nav {

    display: flex;
    justify-content: space-between;
    padding: 10px;
  }

  input[type=search] {
    width: 40%;
    background-color: #303030;
    border-radius: 5px;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 4px;
  }

  .spacer {
    margin-bottom: 80px;
    
  }

  .nav-links {
    display: block;
    transform: translateY(0%);
    
  }

  .nav-links li {
    opacity: 1;
  }

  .hide-mobile {
    display: flex;
    letter-spacing: 5px;
    list-style-type: none;
    background-color: #000000;
  }

  .hide-desktop {
    display: none;
  }

  .burger {
    display: none;
    
  }

  .album-card {

    text-align: center;
    width: 20%;
    background-color: #303030;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 10px;
    position: relative;
    height: 30vw;

  }

  .album-card-info {
    position: absolute;
    top: 40%;
    width: 100%;
    background-color: rgba(66, 66, 66, 0.8);
    border-radius: 20%;
  }

  .album-card-info p {
    font-size: 10px;
  }

  .album-card-footer p {
    font-size: 15px;
  }

  strong {
    font-size: 15px;
  }
}


